.main {
    display: flex;
    color: white;
}

.sidebar {
    background-color: rgb(42 42 42);
    width: 300px;
    margin: 0 auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 40px;
}

.horizontalLine {
    display: block;
    border-top: 1px solid white;
    width: 100%;
}
