.container {
    color: white;
    background-color: rgb(42, 42, 42);
    width:max-content;
    margin: 15px;

    border-radius: 10px;
}

.header {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.day {
    background-color: #d78e37;
}

.night {
    background-color: #4c37d7;
}

.date {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 20px;
}

.dateItem {
    margin: 0 10px;
}

.city {
    margin: 0 10px;
}

.removeItem {
    width: 25px;
    height: 25px;
    rotate: 45deg;
    cursor: pointer;
}

.removeItem:hover {
    scale: 1.1;
}

.content {
    padding: 5px 15px 15px 15px;
}

.weather {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 10px;
}

.weatherItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}

.weatherIcon {
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.temperature {
    font-weight: bold;
    font-size: 55px;
}

.horizontalLine {
    display: block;
    border-top: 1px solid white;
    width: 100%;
}

.info {
    margin: 20px 10px 20px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    justify-items: stretch;
}

.infoItem {
    display: flex;
}

.infoImage {
    width: 36px;
    height: 36px;
    margin-right: 10px;
}

.infoDescription {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 14px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 10px 0 10px;
}

.refresh {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}

.refresh:hover {
    transform: rotate(180deg);
}

.open {
    text-decoration: underline;
    color: white;
    cursor: pointer;
}

.open:hover {
    text-decoration: none;
}
